# Python-Müll (Bytecode, Caches)
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebungen
venv/
.env

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

# Bilder-Uploads ignorieren
uploads/
!uploads/.gitkeep

# Datenbank ignorieren
backend/*.db
